html {
    background-image: url(/img/pattern.png);
}

::selection { 
    background:red; 
    color:white; 
}
::-moz-selection { 
    background:red; 
    color:white; 
}


body {
    color: #222;
    font-size: 16px;
    font-family: 'Bitter', helvetica, arial, sans-serif;
    padding-top: 10px;
}

#container {
    margin: 0 auto;
    width: 560px;  
}

article {
    line-height: 1.5em;    
}

header li {
    display: inline;
}
/*footer*/
#container > footer {
    border-top: 1px solid #CCC;
    clear: both;
    margin: 20px 0;
}
/*links*/
a {
  color: #D05A6E;
  text-decoration: none;
}
a:visited {
  color: #c7260d;
  text-decoration: none;
}
a:active {
  color: #c7260d;
  text-decoration: none;
}
a:hover {
  color: #e7463d;
  text-decoration: underline;
}
/*icons*/
p#rellinks {
    height: 30px;
    text-align: center;
}
 
p#rellinks a {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 12px;
}
 
p#rellinks a img {
    opacity: 0.5;
}
 
p#rellinks a:hover img {
    opacity: 1.0;
}

/*tracks*/
#tracks a {
    color:black;
    
}

/*typo*/
.footnotes {
    font-size: 0.75em;
    color: #5D5D5D;
}

/*quote*/
blockquote {
    margin: 0 0 20px 32px;
    color: #333;
    border-left: 4px #ccc solid;
    padding-left: 6px;
    font-style:italic
}


