body {
  background: -webkit-canvas(mybackground);
  background: canvas(mybackground);
  background-attachment: fixed;
}

//body {
//  background-color: rgba(255, 255, 255, 0.9);
//}

::selection {
  background: red;
  color: white;
}

::-moz-selection {
  background: red;
  color: white;
}

/* Typography */
body {
  font-family: helvetica, arial, sans-serif;
  color: #222;
  font-size: 16px;
  padding-top: 10px;
}

time {
  font-family: helvetica;
}

header h1 {
  font-weight: 900px;
  font-style: italic;
  letter-spacing: -1px;
}

nav {
  font-family: helvetica;
}

#intro {
  font-family: 'Source Code Pro', helvetica;
  font-size: 14px;
}

article {
  font-family: 'Source Code Pro', sans-serif;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  &.event {

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      font-weight: 500;
    }

    header {
      margin-bottom: 30px;
      border-bottom: 1px dashed gray;

      p {
        color: lighten(#222, 20);
        font-family: helvetica;
      }

    }
  }

}

#container {
  margin: 0 auto;
  width: 700px;
}

/*header*/
header li {
  display: inline;
}

header h1 a:hover {
  color: #EE6348;
  text-decoration: none;
}

#audioBtn {
  margin-left: 10px;
}

/*nav*/
nav {
  border-top: 1px solid #CCC;
  padding: 0.5em 0;
}

nav li {
  margin-right: 10px;
}

/*links*/
a {
  color: #D05A6E;
  text-decoration: none;
}
a:visited {
  color: #c7260d;
}
a:active {
  color: #c7260d;
}
a:hover {
  color: #e7463d;
  text-decoration: underline;
}

/*footer*/
footer {

  border-top: 1px solid #CCC;
  clear: both;
  margin: 5px 0;
  text-align: center;
  color: #777;

  p {
    margin: 5px 0;
  }

  a {
    color: #777;

    &:hover, &:visited {
      text-decoration: underline;
      color: #777;
    }
  }

}

/* posts */

/* fixed with so that the date looks nice*/
#posts .date {
  font-family: "Tahoma", "Lucida Console", Monaco, monospace
}

/*typo*/

.footnotes {
  font-size: 0.75em;
  color: #5D5D5D;
}

/*quote*/
blockquote {
  margin: 0 0 20px 32px;
  color: #333;
  border-left: 4px #ccc solid;
  padding-left: 6px;
  font-style:italic
}

/*code*/
/*.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

.post pre code {
   border: none;
}*/

code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 85%;
}

code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  background-color: #fff;
  color:#737373;
  font-size: 11px;
  padding: 0;
}

figure.me {
  float: right;
  margin: 0px 0px 25px 25px;

  figcaption {
    font-size: 13px;
    text-align: right;
    font-style: italic;
  }
}

/*events*/
#events {
  font-family: helvetica;
}

#events ol {
  margin-top: 40px;
  list-style-type: none;
}

#events ol li:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1.5px dashed #bbb;
}

#events .event {
  font-size: 15px;
}

#events p.description {
  font-size: 12px;
}


canvas {
  position: fixed;
}
