<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Sean Lee">
    <!-- web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' rel='stylesheet' type='text/css'>
    
    <!-- le js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    
    <!--le css -->
    <!-- <link rel="stylesheet" href="/css/reset.css" type="text/css" /> -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
    <!-- prefix-free -->
    <script src="/js/prefixfree.min.js"></script>
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div id="container">
    <header>
        <hgroup>
        <h1><a href="/">Sean Lee</a></h1>
        <blockquote>You are not a beautiful and unique snowflake.</blockquote>
        </hgroup>
        <p id="rellinks">
        <a rel="me" title="豆瓣" href="http://www.douban.com/people/xiaosong/"><img alt="豆瓣" src="/img/icons/douban.png" width="16" height="16"></a>
        <a rel="me" title="Github" href="http://github.com/seansay"><img alt="Github" src="/img/icons/github.png" width="16" height="16"></a>
        <a rel="me" title="Google" href="https://plus.google.com/100906129632782898285"><img alt="Google" src="/img/icons/google.png" width="16" height="16"></a>
        <a rel="me" title="Last.fm" href="http://www.last.fm/user/seansay/"><img alt="Last.fm" src="/img/icons/lastfm.png" width="16" height="16"></a>
        <a rel="me" title="Reddit" href="http://reddit.com/user/seansay"><img alt="Reddit" src="/img/icons/reddit.png" width="16" height="16"></a>
        <a rel="me" title="Twitter" href="http://twitter.com/seansay"><img alt="Twitter" src="/img/icons/twitter.png" width="16" height="16"></a>
        <a rel="me" title="Wikipedia" href="http://zh.wikipedia.org/wiki/User:Seansay"><img alt="Wikipedia" src="/img/icons/wikipedia.png" width="16" height="16"></a>
        <a rel="me" title="Pinboard" href="http://pinboard.in/u:seansay"><img alt="Pinboard" src="/img/icons/pinboard.png" width="16" height="16"></a>
        
        </p>
        <nav>
            <ul>
                <li><a href="about">about</a></li>
                <li><a href="http://pinboard.in/u:seansay/">links</a></li>
                <li><a href="projects">projects</a></li>
            </ul>
        </nav>
    </header>
        {{ content }}
    <footer>
        <p>&copy; Copyright 2011, Sean Lee 
        <a rel="license" title="Licensed under a Creative Commons Attributes license" href="http://creativecommons.org/licenses/by/3.0/deed.zh">保留部分权利</a></p>
    </footer>
</div>

<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8230755-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end google analytics -->
</body>
</html>