<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <meta name="author" content="Sean Lee">
    <meta name="description" content="Sean Lee's homepage">

    <!-- le feed -->
    <link href="http://feeds.feedburner.com/notimportant" rel="alternate" title="Not Important" type="application/atom+xml" />

    <!--le css -->
    {% stylesheet main %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700' rel='stylesheet' type='text/css'>
    

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <div id="container">
    <header>
      <hgroup>
        <h1>
          <a href="/">Sean Lee</a>
        </h1>
      </hgroup>
      {% include nav.html %}
    </header>
    <div id="content">
        {{ content }}
    </div>
    <footer>
        <p>Sean Lee</p>
        <p>
          <a href="http://twitter.com/seansay" target="_blank">@seansay</a> &bull; <a href="http://github.com/seansay" target="_blank">Github</a> &bull; iseansay at gmail dot com
        </p>
    </footer>
</div>

<!-- js start -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">
</script>
<!-- js end -->

{% include ga.html %}
</body>
</html>
