<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>Sean's Web Page</title>
    <meta name="author" content="Sean Lee">
    <!-- web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="javascript/kerning.min.js"></script>
</head>
<body>
    <header>
        <hgroup>
        <h1>Sean Lee</h1>
        <h2></h2>
        </hgroup>
        <nav>
            <ul>
                <li><a href="about">about</a></li>
                <li><a href="http://twitter.com/seansay">tweets</a></li>
                <li><a href="http://pinboard.in/u:seansay/">links</a></li>
                <li><a href="projects">projects</a></li>
            </ul>
        </nav>
    </header>
        {{ content }}
    <footer>
        <p>&#169; 2011 <a href="about.html">Sean Lee</a></p>
    </footer>
</body>
</html>