---
layout: default
title: Events
---

<section id="events">
  <h2>My upcoming events</h2>

  <p>
    You can subscribe to my events in iCal or Google Calendar using this url:
  </p>

  <p>
    <a href="http://notimportant.org/events/sean.ics">
      <i>http://notimportant.org/events/sean.ics</i>
    </a>
  </p>

  <ol>
    {% for event in site.categories.event %}
      <li class="event">
        <p>
          {% if event.content.size > 5 %}
            <a href="{{ event.url }}">
              {{ event.title }}
            </a>
          {% else %}
            {{ event.title }}
          {% endif %}
        </p>
        <p class="description">
          {{ event.description }}
        </p>
        <time datetime="{{ event.time | date: date_to_xmlschema }}">
          {{ event.time | date: "%I:%M%p, %d %b %Y" }}
        </time>
        - {{ event.venue }} -
        <a href="{{ event.link }}">info</a>
      </li>
    {% endfor %}
  </ol>
</section>